{
  "endOfLine": "auto",
  "importOrder": ["^@services(.*)|^@services/(.*)", "^[./]"],
  "importOrderCaseInsensitive": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none"
}
